.about-container {
  display: flex;
  flex-direction: column;
  width: auto;
  color:rgb(255, 255, 255);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.about-body{
  height: 100%;
  width: auto;
  background-color: #171717;
}

.resume-header{
font-size: 25px;
padding: 10px;
}

.resume-pdf button{
 margin: 10px;

}
